@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 13rem 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "SD HE" "SD MA";
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}
